<app-hamburger-menu></app-hamburger-menu>

<div class="general">
	<H1>SI ENIM ITA EST, VIDE NE FACINUS FACIAS, CUM MORI SUADEAS.</H1>

	<P>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. HAEC QUO MODO CONVENIANT, NON SANE INTELLEGO. <A HREF='HTTP://LORIPSUM.NET/' TARGET='_BLANK'>QUANTUM ARISTOXENI INGENIUM CONSUMPTUM VIDEMUS IN MUSICIS?</A> <I>ITAQUE AD TEMPUS AD PISONEM OMNES.</I> QUOD IAM A ME EXPECTARE NOLI. </P>

	<UL>
		<LI>SED AD ILLUM REDEO.</LI>
		<LI>NEC LAPATHI SUAVITATEM ACUPENSERI GALLONI LAELIUS ANTEPONEBAT, SED SUAVITATEM IPSAM NEGLEGEBAT;</LI>
		<LI>SINE EA IGITUR IUCUNDE NEGAT POSSE SE VIVERE?</LI>
		<LI>ATQUE ETIAM VALíTUDINEM, VIRES, VACUITATEM DOLORIS NON PROPTER UTILITATEM SOLUM, SED ETIAM IPSAS PROPTER SE EXPETEMUS.</LI>
	</UL>


	<P>DUO REGES: CONSTRUCTIO INTERRETE. <A HREF='HTTP://LORIPSUM.NET/' TARGET='_BLANK'>RATIONIS ENIM PERFECTIO EST VIRTUS;</A> AUDEO DICERE, INQUIT. HIC NIHIL FUIT, QUOD QUAEREREMUS. OMNES ENIM IUCUNDUM MOTUM, QUO SENSUS HILARETUR. </P>

	<OL>
		<LI>SED NE, DUM HUIC OBSEQUOR, VOBIS MOLESTUS SIM.</LI>
		<LI>AD CORPUS DICERES PERTINERE-, SED EA, QUAE DIXI, AD CORPUSNE REFERS?</LI>
		<LI>AT, SI VOLUPTAS ESSET BONUM, DESIDERARET.</LI>
		<LI>ILLE INCENDAT?</LI>
	</OL>


	<BLOCKQUOTE CITE='HTTP://LORIPSUM.NET'>
		TUM EGO: NON MEHERCULE, INQUAM, SOLEO TEMERE CONTRA STOICOS, NON QUO ILLIS ADMODUM ASSENTIAR, SED PUDORE IMPEDIOR;
	</BLOCKQUOTE>

	<div>
    	<button (click)="goBackToWelcome()">Back To Welcome</button>
	</div>
</div>

<app-profile-icon></app-profile-icon>
<app-lock-icon></app-lock-icon>



